<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanForPlant">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CaptureActivity"/>
        <activity android:name=".ui.DetailActivity"/>
        <activity android:name=".ui.SearchActivity"/>
        <activity android:name=".ui.NotFoundActivity"/>
        <activity android:name=".ui.LoginActivity"/>
        <activity android:name=".ui.RegisterActivity"/>
        <activity android:name=".ui.ForgotPasswordActivity"/>
        <activity android:name=".ui.VerifyCodeActivity"/>
        <activity android:name=".ui.ChangePasswordActivity"/>
        <activity android:name=".ui.GardenActivity"/>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.DiaryActivity" />
        <activity android:name=".ui.ChatbotActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.PlanActivity" />
        <activity android:name=".ui.CreatePlanActivity" />
        <activity android:name=".ui.GardenDetailActivity"/>
    </application>

</manifest>